USE [master]
GO
/****** Object:  Database [PRN2]    Script Date: 7/22/2022 2:13:18 PM ******/
CREATE DATABASE [PRN2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRN2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.TVG\MSSQL\DATA\PRN2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRN2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.TVG\MSSQL\DATA\PRN2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRN2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRN2]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 7/22/2022 2:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Category_ID] [int] NOT NULL,
	[Category_Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 7/22/2022 2:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Product_ID] [int] IDENTITY(1,1) NOT NULL,
	[Product_Name] [nvarchar](255) NOT NULL,
	[Price_New] [nchar](10) NULL,
	[User_ID] [int] NULL,
	[Image] [nvarchar](255) NOT NULL,
	[Price] [float] NOT NULL,
	[Date] [date] NOT NULL,
	[Detail] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[Category_ID] [int] NOT NULL,
 CONSTRAINT [PK__Service__BD1A239CFFF81979] PRIMARY KEY CLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 7/22/2022 2:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[User_ID] [int] NULL,
	[Product_ID] [int] NULL,
	[Time] [date] NULL,
	[New_Price] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/22/2022 2:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Role_ID] [int] NOT NULL,
	[Role_Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/22/2022 2:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Date] [date] NOT NULL,
	[User_Name] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Avatar] [nvarchar](255) NULL,
	[Gender] [int] NOT NULL,
	[Role_ID] [int] NOT NULL,
	[Status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([Category_ID], [Category_Name]) VALUES (1, N'QuanAo')
INSERT [dbo].[Category] ([Category_ID], [Category_Name]) VALUES (2, N'DienTu')
INSERT [dbo].[Category] ([Category_ID], [Category_Name]) VALUES (3, N'TrangSuc')
GO
INSERT [dbo].[Role] ([Role_ID], [Role_Name]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([Role_ID], [Role_Name]) VALUES (2, N'Customer')
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([User_ID], [FullName], [Phone], [Email], [Date], [User_Name], [Password], [Avatar], [Gender], [Role_ID], [Status]) VALUES (2, N'Le Huu Dat', N'0987654321', N'dat@gmail.com', CAST(N'2001-01-01' AS Date), N'Dat', N'12345', NULL, 1, 1, 1)
INSERT [dbo].[User] ([User_ID], [FullName], [Phone], [Email], [Date], [User_Name], [Password], [Avatar], [Gender], [Role_ID], [Status]) VALUES (3, N'Nguyen Van Cuong', N'0987654321', N'cuongnvhs150257@fpt.edu.vn', CAST(N'2001-01-01' AS Date), N'Cuong', N'12345', NULL, 1, 2, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK__Product__Categor__36B12243] FOREIGN KEY([Category_ID])
REFERENCES [dbo].[Category] ([Category_ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK__Product__Categor__36B12243]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Role] ([Role_ID])
GO
USE [master]
GO
