@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using PRNAssG8.Models;
@model List<Product>
@*
    Admin Page
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .imgdd{
      width:150px;
      height:auto;
  }
</style>

<div class="container">
        <div class="cart_inner">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Product</th>
                  <th scope="col">Price Origin</th>
                  <th scope="col">Auction Price</th>
                  <th scope="col">Status</th>
                  <th scope="col">Edit</th>
                </tr>
              </thead>
              <tbody>
                  @foreach (var p in Model)
                    {   
                <tr>
                  <td>
                    <div class="media">
                      <div class="d-flex">
                        <img class="imgdd"
                          src="~/img/product/@p.Image"
                          alt=""
                        />
                      </div>
                      <div class="media-body">
                        <p>@p.ProductName</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <h5>@p.Price USD</h5>
                  </td>
                  <td>
                    <h5>@p.Price USD</h5>
                  </td>
                  <td>
                        @if(@p.Status == 1){
                            <h5>Show</h5>
                        }
                        @if(@p.Status == 0){
                            <h5>Hide</h5>
                        }
                        @if(@p.Status == -1){
                            <h5>Auctioned</h5>
                        }
                    
                  </td>
                  <td>
                     <a class="nav-link" asp-controller="admin" asp-action="Update" asp-route-id=@p.ProductId >Edit</a>
                     <a class="nav-link" asp-controller="admin" asp-action="Delete" asp-route-id=@p.ProductId >Delete</a>
                  </td>
                </tr>
                
                }
                
              </tbody>
            </table>
          </div>
        </div>
      </div>