@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using PRNAssG8.Models;
@model List<Product>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
    Home Page
*@

<style>
  
  .Flex{
      width:90%;
      height:300px;
      display:flex;
  }
  .img-fluid w-100{
      width:200px;
      height:auto;
  }

</style>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="main_title">
            <h2><span>Select the product you want to bid</span></h2>
            <p>As long as you pay the right price, it will be yours</p>
          </div>
        </div>
      </div>
        <div class=Flex>
        @foreach (var p in Model)
        {
        
        <div class="col-lg-3 col-md-6">
          <div class="single-product">
            
              <div class="product-img">
              <img class="img-fluid w-100" src="~/img/product/@p.Image" alt="" />
              <div class="p_icon">
                <a asp-controller="Product" asp-action="Detail" asp-route-id=@p.ProductId>
                  <i class="ti-eye"></i>
                </a>
                <a asp-controller="Auction" asp-action="Index" asp-route-id=@p.ProductId>
                  <i class="ti-shopping-cart"></i>
                </a>
              </div>
            </div>
            <div class="product-btm">
              <a  asp-controller="Product" asp-action="Detail" asp-route-id=@p.ProductId class="d-block">
                <h4>@p.ProductName</h4>
              </a>
              <div class="mt-3">
                <span class="mr-4">@p.Price USD</span>
                
              </div>
            </div>  
            
            
          </div>
        </div>
        
        }
        </div>
      </div> 


